
@{
    ViewBag.Title = "Footer";
}
<footer>
    <div class="footer-area fix">
        <!-- Footer Caption -->
        <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
            <div class="footer-tittle">
                <h3>The joy of dressing<br> is an art</h3>
            </div>
            <div class="footer-menu ">
                <div class="single-menu">
                    <div class="single-menu1">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact</h4>
                                <div class="footer-pera">
                                    <p>71 Madison Ave 10013 New   York, 914-309701, 914-329211, reservations@laurent.com, office@laurent.com </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-menu2">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Links</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#"> About Us</a></li>
                                    <li><a href="#"> Our History</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-menu3">
                        <div class="single-footer-caption">
                            <div class="footer-tittle">
                                <h4>Social</h4>
                                <!-- Social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright pt-40">
                <p><p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p></p>
            </div>
        </div>
    </div>
</footer>

