
@{
    ViewBag.Title = "Footer";
}
<<<<<<< HEAD
<footer>
    <div class="footer-area fix">
        <!-- Footer Caption -->
        <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
            <div class="footer-tittle">
                <h3>
                    TRƯỜNG ĐẠI HỌC <br>VĂN LANG
                </h3>
            </div>
            <div class="footer-menu ">
                <div class="single-menu">

                    <div class="single-menu1">
                        <div class="single-footer-caption ">
                            <div class="footer-tittle">
                                <div>
                                    <img src="@Url.Content("~/assets/img/NCKH img/header-logo/panner vlu.png")" width="250" />
                                </div>
                                <!-- Social -->
                                
                            </div>
                        </div>
                    </div>
                    <div class="single-menu2">
                        <div class="single-footer-caption ">
                            <div class="footer-tittle">
                                <h4>Giới thiệu</h4>
                                <div class="footer-pera">
                                    <p>Cơ sở 1: 45 Nguyễn Khắc Nhu, Phường Cô Giang, Quận 1, Hồ Chí Minh</p>
                                    <p>Cơ sở 2: 233A Phan Văn Trị, Phường 11, Q. Bình Thạnh, Hồ Chí Minh</p>
                                    <p>Cơ sở 3: 69/68 Đặng Thùy Trâm, Phường 12, Q. Bình Thạnh, Tp. HCM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-menu1">
                        <div class="single-footer-caption">
                            <div class="footer-tittle">
                                <h4>Địa chỉ</h4>
                                <div class="footer-pera">
                                    <p>Cơ sở 1: 45 Nguyễn Khắc Nhu, Phường Cô Giang, Quận 1, Hồ Chí Minh</p>
                                    <p>Cơ sở 2: 233A Phan Văn Trị, Phường 11, Q. Bình Thạnh, Hồ Chí Minh</p>
                                    <p>Cơ sở 3: 69/68 Đặng Thùy Trâm, Phường 12, Q. Bình Thạnh, Tp. HCM</p>
                                </div>

                            </div>
=======
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                        <div class="footer-right">
                            <ul class="footer-links-soi">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul><!-- end links -->
                        </div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
>>>>>>> master
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">info@yoursite.com</a></li>
                            <li><a href="#">www.yoursite.com</a></li>
                            <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                            <li>+61 3 8376 6284</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
<<<<<<< HEAD
            <div class="container" style="margin-top:10px">
                <div class="row">
                    <div id="sp-footer1" class="col-sm-8 col-md-8">
                        <div class="sp-column ">
                            <div class="sp-module same-system">
                                <div class="sp-module-content">

                                    <div class="customsame-system">
                                        <p style="color:white">Trang thông tin điện tử tổng hợp . Hoạt động theo giấy phép số 75/GP-ICP-STTTT. Tổng biên tập: Hiệu trưởng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div id="sp-footer2" class="col-sm-4 col-md-4">
                        <div class="sp-column ">
                            <div class="sp-module same-system">
                                <div class="sp-module-content">

                                    <div class="customsame-system">
                                        <div><span style="float: left;"><a href="https://www.facebook.com/Khoaduocvlu" target="_blank" rel="noopener" style="display: block; width: 24px; height: 24px; background: url('https://www.vanlanguni.edu.vn/images/2020/Logo_social/fb_logo.png') center top no-repeat; text-indent: -9999px; float: left; margin-left: 10px;">It Connect</a></span> &nbsp;&nbsp;&nbsp;<a href="mailto:k.yduoc@vanlanguni.edu.vn" style="display: block; width: 24px; height: 24px; background: url('https://img.icons8.com/cute-clipart/32/000000/apple-mail.png') center center no-repeat; text-indent: -9999px; float: left; margin-left: 10px;">website tiếng việt</a> &nbsp;&nbsp;&nbsp; <a href="tel:028.3516 2396" style="display: block; width: 24px; height: 24px; background: url('https://img.icons8.com/plasticine/35/000000/apple-phone.png') center center no-repeat; text-indent: -9999px; float: left; margin-left: 10px; ">website tiếng Anh</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
=======
        </div><!-- end container -->
    </div><!-- end copyrights -->
>>>>>>> master

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
