
@{
    ViewBag.Title = "Header";
}
<body class="body-bg">
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="@Url.Content("~/assets/img/NCKH img/header-logo/logo khoa duoc.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <a href="index"><img src="@Url.Content("~/assets/img/NCKH img/header-logo/panner vlu.png")" width="200" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="index">Trang chủ</a></li>
                            <li>
                                <a href="blog.html">Đào tạo</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">SOP đào tạo</a></li>
                                    <li><a href="single-blog.html">Chương trình đào tạo</a></li>
                                    <li><a href="single-blog.html">Tài nguyên</a></li>
                                    <li><a href="single-blog.html">Đảm bảo chất lượng</a></li>
                                    <li><a href="single-blog.html">Các cơ sở liên kết đào tạo</a></li>
                                    <li><a href="single-blog.html">Đào tạo liên tục CPE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Sinh viên</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Tra cứu thông tin cá nhân</a></li>
                                    <li><a href="single-blog.html">Tin tức</a></li>
                                    <li><a href="single-blog.html">Câu lạc bộ</a></li>
                                    <li><a href="single-blog.html">Đoàn hội</a></li>
                                    <li><a href="single-blog.html">Quy chế công tác SV</a></li>
                                    <li><a href="single-blog.html">Hoạt động ngoại khóa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">NCKH</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Các đề tài đang NC của SV</a></li>
                                    <li><a href="single-blog.html">Các đề tài đang NC của GV</a></li>
                                    <li><a href="single-blog.html">Lý lịch KH của GV</a></li>
                                    <li><a href="single-blog.html">Đoàn hội</a></li>
                                    <li><a href="single-blog.html">Quy chế công tác SV</a></li>
                                    <li><a href="single-blog.html">Hoạt động ngoại khóa</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="blog.html">Tra cứu</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Thông tin nội bộ</a></li>
                                    <li><a href="blog.html">Tin tức - Sự kiện</a></li>
                                    <li><a href="single-blog.html">Tuyển dụng</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Tuyển sinh</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header-btn -->
                <div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
</body>
