@model IEnumerable<_2021NCKH.Models.ThucVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="row content">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="card">
                <a href="@Url.Action("Details","BaiViet", new { item.MaCay })">
                    <img class="img-fluid" width="600px" height="400px" src="@Url.Action("Picture", new { item.MaCay })" alt="hinhanh">
                    <div class="card-body">
                        <h3 class="card-title">@item.TenVietNam</h3>
                    </div>
                </a>
            </div>
        </div>
    }
</div>