@model IEnumerable<_2021NCKH.Models.ThucVat>
@{
    ViewBag.Title = "Nganh";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_Layout.cshtml";
    string bo = "";
}

<h2>Bộ thực vật</h2>
<table class="table">
    <tr>
        <th>
            Tên bộ thực vật
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.TenBoThucVat != bo)
    {
        bo = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.TenBoThucVat;
        <td>
            @bo
        </td>
    }
</tr>
}

</table>
