@model IEnumerable<_2021NCKH.Models.ThucVat>
@{
    ViewBag.Title = "Nganh";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_Layout.cshtml";
    string ho = "";
}

<h2>Ho thực vật</h2>
<table class="table">
    <tr>
        <th>
            Tên họ thực vật
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.TenHoThucVat != ho)
    {
        ho = item.LoaiThucVat.ChiThucVat.HoThucVat.TenHoThucVat;
        <td>
            @ho
        </td>
    }
</tr>
}

</table>
