@model IEnumerable<_2021NCKH.Models.ThucVat>
@{
    ViewBag.Title = "Nganh";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_Layout.cshtml";
    string nganh = "";
}

<h2>Ngành thực vật</h2>
<table class="table">
    <tr>
        <th>
            Tên ngành thực vật
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.NganhThucVat.TenNganhThucVat != nganh)
    {
        nganh = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.NganhThucVat.TenNganhThucVat;
        <td>
            @nganh
        </td>
    }
</tr>
}

</table>
