@model _2021NCKH.Models.HoThucVat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/VuonThucVat/Views/Shared/AdminLayout.cshtml";
}

<h2>Xóa họ thực vật</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>@Model.TenHoThucVat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Bộ thực vật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoThucVat.TenBoThucVat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
