@model IEnumerable<_2021NCKH.Areas.VuonThucVat.Data.CayThucVat>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_LayoutUser.cshtml";
    String tempNganh = "";
    String tempLop = "";
    String tempPhanLop = "";
    String tempBo = "";
    String tempHo = "";
    String tempChi = "";
    String tempLoai = "";
    String tempThucVat = "";
}
<div id="sidebar" class="">

    <div class="inner" style="">

        <!-- Search Box -->
        <section id="search" class="alt">
            <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search...">
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <ul>
                @*<li><a href="index.html">Homepage</a></li>
                    <li><a href="simple_page.html">Simple Page</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li>
                        <span class="opener">Dropdown One</span>
                        <ul>
                            <li><a href="#">First Sub Menu</a></li>
                            <li><a href="#">Second Sub Menu</a></li>
                            <li><a href="#">Third Sub Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">Dropdown Two</span>
                        <ul>
                            <li><a href="#">Sub Menu #1</a></li>
                            <li><a href="#">Sub Menu #2</a></li>
                            <li><a href="#">Sub Menu #3</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.google.com">External Link</a></li>*@
                @foreach (var item in Model)
                {
                <li>
                    @if(item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.Nganh1.TenNganh != tempNganh) {
                    tempNganh = item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.Nganh1.TenNganh;
                    <span class="opener">Ngành @item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.Nganh1.TenNganh</span>
                    }
                    <ul>
                        <li>
                            @if (item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.TenLop != tempLop)
                            {
                                tempLop = item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.TenLop;
                                <span class="opener">Lớp @item.Loai1.Chi1.Ho1.Bo1.PhanLop1.Lop1.TenLop</span>
                            }
                            <ul>
                                <li>
                                    @if (item.Loai1.Chi1.Ho1.Bo1.PhanLop1.TenPhanLop != tempPhanLop)
                                    {
                                        tempPhanLop = item.Loai1.Chi1.Ho1.Bo1.PhanLop1.TenPhanLop;
                                        <span class="opener">Phân lớp @item.Loai1.Chi1.Ho1.Bo1.PhanLop1.TenPhanLop</span>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                }
            </ul>
        </nav>


        <!-- Featured Posts -->
        <div class="featured-posts">
            <div class="heading">
                <h2>Featured Posts</h2>
            </div>
            <div class="owl-carousel owl-theme owl-loaded owl-drag">



                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-666px, 0px, 0px); transition: all 0s ease 0s; width: 2331px;">
                        <div class="owl-item cloned" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a>
                        </div><div class="owl-item cloned" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured three">
                                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                                </div>
                            </a>
                        </div><div class="owl-item active" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured one">
                                    <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                                </div>
                            </a>
                        </div><div class="owl-item" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a>
                        </div><div class="owl-item" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured three">
                                    <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                                </div>
                            </a>
                        </div><div class="owl-item cloned" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured one">
                                    <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                                </div>
                            </a>
                        </div><div class="owl-item cloned" style="width: 303px; margin-right: 30px;">
                            <a href="#">
                                <div class="featured-item">
                                    <img src="assets/images/featured_post_01.jpg" alt="featured two">
                                    <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                Copyright © 2019 Company Name
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
            </p>
        </footer>

    </div>
    <a href="#sidebar" class="toggle">Toggle</a>
</div>